<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="cruiseForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!cruiseForm.valid">Save</button>
          <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Title</label>
            <input
              type="text"
              id="name"
              class="form-control"
              formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image-url">Image Url</label>
            <input
              type="text"
              id="image-url"
              class="form-control"
              formControlName="imagePath"
              #imageUrl>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="img">
            <img [src]="imageUrl.value">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="content">Description</label>
            <textarea
              type="text"
              id="content"
              rows="6"
              class="form-control"
              formControlName="description"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
