
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" *ngIf="isAuth()" [routerLink]="['new']">New Photo</button>
    <!--<button class="btn" (click)="submitChanges()">Save Changes</button>-->
    <!--<button class="btn" (click)="getPhotos()">Get Photos</button><p> Click Get Photos to see the photos</p>-->
  </div>
</div>
<div class="row" class="photo-list">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-photo-item *ngFor="let photo of photos; let i = index" [photo]="photo" [photoID]="i"></app-photo-item>
    </ul>
  </div>
</div>
