
<!--<div class="row">
  <div class="col-md-12">
    <button class="btn btn-success" *ngIf="isAuth()" [routerLink]="['new']">New Video</button>
    <button class="btn" (click)="submitChanges()">Save Changes</button>
    <button class="btn" (click)="getPhotos()">Get Photos</button><p> Click Get Photos to see the photos</p>
  </div>
</div>
<div class="row" class="video-list">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-video-item *ngFor="let video of videos; let i = index" [video]="video" [videoID]="i"></app-video-item>
    </ul>
  </div>
</div>
-->
