<div class="list-group-item clearfix">
  <div style="float: top; overflow: hidden">
    <div class="info" style="width: 200px; float: left; overflow: hidden">
      <h4 class="list-group-item-heading">{{member.name}}</h4>
      <p class="list-group-item-text">{{member.description}}</p>
      <p class="list-group-item-text">Age: {{member.age}}</p>
    </div>
    <div class="picture"style=" float: left; overflow: hidden">
      <img class="img-responsive"
           src="{{member.imagePath}}"
           style="max-height: 175px;"/>
    </div>
  </div>
</div>
