body{
  background-image: url('http://bgfons.com/upload/grass_texture241.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0% 80%;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;

  color: #454545;
}
a{
  color: #454545;
}
